* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  overflow-x: hidden;
}

.top-cont {
  padding: 5%;
}

@media screen and (max-width: 756px) {
  .top-cont {
    height: 600px !important;
  }
}

.top-cont .text-col {
  padding: 0 8% 0 2%;
  color: white;
}

@media screen and (max-width: 756px) {
  .top-cont .text-col {
    text-align: center;
  }
}

@media screen and (max-width: 756px) {
  .top-cont .text-col img {
    margin-top: 75%;
  }
}

.top-cont .text-col h1 {
  margin: 25% auto 3% auto;
  font-size: 64px;
  font-weight: 400;
}

@media screen and (max-width: 756px) {
  .top-cont .text-col h1 {
    margin: 7% auto 3% auto;
    font-size: 40px;
  }
}

.top-cont .text-col p {
  padding-right: 3%;
  margin: 3% auto;
  font-size: 18px;
  font-weight: 400;
}

.top-cont .text-col a {
  margin: 3% auto;
  text-decoration: none;
}

.top-cont .text-col a button {
  cursor: pointer;
  margin-top: 20px;
  height: 50px;
  width: 50%;
  background-color: #111111;
  border-color: white;
  color: white;
  text-transform: uppercase;
}

.top-cont .text-col a button:hover {
  background-color: white;
  color: #111111;
  border-color: #111111;
}

.top-cont .img-col {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.top-cont .img-col img {
  width: 200%;
}

.feat-cont {
  margin-top: 8%;
}

@media screen and (max-width: 756px) {
  .feat-cont {
    margin-top: 35%;
  }
}

.feat-cont .card-cont {
  padding: 0 7% 2% 7%;
}

@media screen and (max-width: 756px) {
  .feat-cont .card-cont .img-col .feat-img {
    width: 100%;
  }
}

.feat-cont .card-cont .text-col {
  margin-top: 10%;
  padding: 0 10% 0 0;
}

@media screen and (min-width: 756px) {
  .feat-cont .card-cont .text-col {
    margin-top: 20%;
  }
}

.feat-cont .card-cont .text-col .divider {
  margin-bottom: 35px;
}

@media screen and (max-width: 756px) {
  .feat-cont .card-cont .text-col .divider {
    margin-bottom: 15px;
  }
}

.feat-cont .card-cont .text-col h2 {
  font-size: 40px;
  font-weight: 400;
}

.feat-cont .card-cont .text-col p {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 756px) {
  .feat-cont .reverse {
    flex-direction: row-reverse;
  }
  .feat-cont .reverse .img-col {
    z-index: 5;
  }
  .feat-cont .reverse .text-col h2 {
    margin-bottom: 10px;
  }
}

.highlights-cont {
  margin-top: 20px;
  padding: 10% 5%;
  background-color: #111111;
  color: white;
}

@media screen and (min-width: 756px) {
  .highlights-cont {
    position: relative;
    top: -120px;
  }
}

.highlights-cont .text-left {
  padding: 2%;
}

.highlights-cont .text-left img {
  margin-bottom: 40px;
}

.highlights-cont .text-left h2 {
  font-size: 40px;
  font-weight: 400;
}

.highlights-cont .text-left p {
  font-size: 18px;
  font-weight: 400;
}

.highlights-cont .cards-right {
  padding-top: 7%;
}

.highlights-cont .cards-right .high-img-col img {
  width: 100%;
}

.highlights-cont .cards-right .card hr {
  background-color: #5c6779;
  width: 100%;
  margin-bottom: 20px !important;
}

.highlights-cont .cards-right .card .high-text-col {
  padding: 2%;
}

@media screen and (max-width: 756px) {
  .highlights-cont .cards-right .card .high-text-col {
    padding: 1% 3%;
  }
}

.highlights-cont .cards-right .card .high-text-col h3 {
  margin: 7px 2px auto;
  font-size: 18px;
  font-weight: 600;
}

.highlights-cont .cards-right .card .high-text-col p {
  font-size: 15px;
  line-height: 2rem;
  font-weight: 400;
}

.cta-bg {
  width: 110%;
  position: absolute;
  left: 0;
  z-index: -1;
}

.cta-cont {
  padding: 7%;
}

@media screen and (max-width: 756px) {
  .cta-cont {
    padding: 25% 7% !important;
  }
}

.cta-cont .text-col h2 {
  color: white;
  font-size: 40px;
  font-weight: 400;
}

.cta-cont .button-col {
  text-align: end;
}

.cta-cont .button-col button {
  cursor: pointer;
  margin-right: 5px;
  height: 50px;
  width: 50%;
  background-color: transparent;
  border-color: white;
  color: white;
  text-transform: uppercase;
}

@media screen and (max-width: 756px) {
  .cta-cont .button-col button {
    margin-top: 50px;
    width: 100%;
  }
}

.cta-cont .button-col button:hover {
  background-color: white;
  color: #111111;
  border-color: #111111;
}

.footer-cont {
  padding: 7%;
  background-color: #111111;
  align-items: center;
  color: white;
}

@media screen and (max-width: 756px) {
  .footer-cont {
    text-align: center;
  }
}

.footer-cont .item-cont {
  padding: 2% 0;
}

.footer-cont .item-cont h3 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.events-cont {
  padding: 7%;
}

.events-cont .img-col img {
  width: 100%;
}

@media screen and (max-width: 1080px) {
  .events-cont .img-col img {
    width: 200%;
  }
}

.events-cont .text-col {
  padding: 20px 5%;
}

@media screen and (max-width: 1280px) {
  .events-cont .text-col {
    text-align: center;
  }
}

.events-cont .text-col .events-btns {
  margin-bottom: 40px;
  cursor: pointer;
}

.events-cont .text-col .events-btns .btn {
  margin-top: 10px;
  border-bottom-width: 20% !important;
  padding: 10px;
  text-align: center;
}

.events-cont .text-col h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

.events-cont .text-col p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.events-cont .text-col button {
  cursor: pointer;
  margin-top: 20px;
  height: 50px;
  width: 50%;
  background-color: #111111;
  border-color: white;
  color: white;
  text-transform: uppercase;
}

.events-cont .text-col button:hover {
  background-color: white;
  color: #111111;
  border-color: #111111;
}

.top-reservation-cont {
  padding: 5%;
}

@media screen and (max-width: 756px) {
  .top-reservation-cont {
    height: 600px !important;
  }
}

.top-reservation-cont .text-col {
  padding: 0 8% 0 2%;
  color: white;
}

@media screen and (max-width: 756px) {
  .top-reservation-cont .text-col {
    text-align: center;
  }
}

@media screen and (max-width: 756px) {
  .top-reservation-cont .text-col img {
    margin-top: 15%;
  }
}

.top-reservation-cont .text-col h2 {
  margin: 25% auto 3% auto;
  font-size: 64px;
  font-weight: 400;
}

@media screen and (max-width: 756px) {
  .top-reservation-cont .text-col h2 {
    margin: 30px auto 40px auto;
    font-size: 40px;
  }
}

.top-reservation-cont .text-col p {
  padding-right: 3%;
  margin: 3% auto;
  font-size: 18px;
  font-weight: 400;
}

.top-reservation-cont .img-col {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.top-reservation-cont .img-col img {
  width: 200%;
}
