$beaver:#9e7f66;
$cod-gray: #111111;
$mirage: #17192b;
$ebony-clay: #242b37;
$shuttle-gray:#5c6779;
$font-family:'Spartan',
sans-serif;
$font-weight4:400;
$font-weight6:600;
$font-weight7:700;
//------------------Top section--------------
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    overflow-x: hidden;
}

.top-cont {
    @media screen and (max-width: 756px) {
        height: 600px !important;
    }
    padding: 5%;
    .text-col {
        padding: 0 8% 0 2%;
        color: white;
        @media screen and (max-width: 756px) {
            text-align: center;
        }
        img {
            @media screen and (max-width: 756px) {
                margin-top: 75%;
            }
        }
        h1 {
            margin: 25% auto 3% auto;
            @media screen and (max-width: 756px) {
                margin: 7% auto 3% auto;
                font-size: 40px;
            }
            font-size: 64px;
            font-weight: $font-weight4;
        }
        p {
            padding-right: 3%;
            margin: 3% auto;
            font-size: 18px;
            font-weight: $font-weight4;
        }
        a {
            margin: 3% auto;
            text-decoration: none;
            button {
                cursor: pointer;
                margin-top: 20px;
                height: 50px;
                width: 50%;
                background-color: $cod-gray;
                border-color: white;
                color: white;
                text-transform: uppercase;
                &:hover {
                    background-color: white;
                    color: $cod-gray;
                    border-color: $cod-gray;
                }
            }
        }
    }
    .img-col {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        img {
            width: 200%;
        }
    }
}

.feat-cont {
    margin-top: 8%;
    @media screen and (max-width: 756px) {
        margin-top: 35%;
    }
    .card-cont {
        padding: 0 7% 2% 7%;
        .img-col {
            @media screen and (max-width: 756px) {
                .feat-img {
                    width: 100%;
                }
            }
        }
        .text-col {
            margin-top: 10%;
            @media screen and (min-width: 756px) {
                margin-top: 20%;
            }
            padding: 0 10% 0 0;
            .divider {
                margin-bottom: 35px;
                @media screen and(max-width: 756px) {
                    margin-bottom: 15px;
                }
            }
            h2 {
                font-size: 40px;
                font-weight: $font-weight4;
            }
            p {
                font-size: 18px;
                font-weight: $font-weight4;
            }
        }
    }
    @media screen and (min-width: 756px) {
        .reverse {
            flex-direction: row-reverse;
            .img-col {
                z-index: 5;
            }
            .text-col {
                h2 {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.highlights-cont {
    margin-top: 20px;
    padding: 10% 5%;
    background-color: $cod-gray;
    color: white;
    @media screen and (min-width: 756px) {
        position: relative;
        top: -120px;
    }
    .text-left {
        padding: 2%;
        img {
            margin-bottom: 40px;
        }
        h2 {
            font-size: 40px;
            font-weight: $font-weight4;
        }
        p {
            font-size: 18px;
            font-weight: $font-weight4;
        }
    }
    .cards-right {
        padding-top: 7%;
        .high-img-col {
            img {
                width: 100%;
            }
        }
        .card {
            hr {
                background-color: $shuttle-gray;
                width: 100%;
                margin-bottom: 20px !important;
            }
            .high-text-col {
                padding: 2%;
                @media screen and (max-width: 756px) {
                    padding: 1% 3%;
                }
                h3 {
                    margin: 7px 2px auto;
                    font-size: 18px;
                    font-weight: $font-weight6;
                }
                p {
                    font-size: 15px;
                    line-height: 2rem;
                    font-weight: $font-weight4;
                }
            }
        }
    }
}

.cta-bg {
    width: 110%;
    position: absolute;
    left: 0;
    z-index: -1;
}

.cta-cont {
    padding: 7%;
    @media screen and(max-width: 756px) {
        padding: 25% 7% !important;
    }
    .text-col {
        h2 {
            color: white;
            font-size: 40px;
            font-weight: $font-weight4;
        }
    }
    .button-col {
        text-align: end;
        button {
            cursor: pointer;
            @media screen and (max-width: 756px) {
                margin-top: 50px;
                width: 100%;
            }
            margin-right: 5px;
            height: 50px;
            width: 50%;
            background-color: transparent;
            border-color: white;
            color: white;
            text-transform: uppercase;
            &:hover {
                background-color: white;
                color: $cod-gray;
                border-color: $cod-gray;
            }
        }
    }
}

.footer-cont {
    padding: 7%;
    background-color: $cod-gray;
    align-items: center;
    color: white;
    @media screen and(max-width: 756px) {
        text-align: center;
    }
    .item-cont {
        padding: 2% 0;
        h3 {
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: $font-weight6;
        }
    }
}

.events-cont {
    padding: 7%;
    .img-col {
        img {
            width: 100%;
            @media screen and (max-width: 1080px) {
                width: 200%;
            }
        }
    }
    .text-col {
        padding: 20px 5%;
        @media screen and (max-width: 1280px) {
            text-align: center;
        }
        .events-btns {
            margin-bottom: 40px;
            cursor: pointer;
            .btn {
                margin-top: 10px;
                border-bottom-width: 20% !important;
                padding: 10px;
                text-align: center;
            }
        }
        h2 {
            font-size: 40px;
            font-weight: $font-weight4;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            font-weight: $font-weight4;
            margin-bottom: 30px;
        }
        button {
            cursor: pointer;
            margin-top: 20px;
            height: 50px;
            width: 50%;
            background-color: $cod-gray;
            border-color: white;
            color: white;
            text-transform: uppercase;
            &:hover {
                background-color: white;
                color: $cod-gray;
                border-color: $cod-gray;
            }
        }
    }
}

.top-reservation-cont {
    @media screen and (max-width: 756px) {
        height: 450px !important;
    }
    padding: 5%;
    .text-col {
        padding: 0 8% 0 2%;
        color: white;
        @media screen and (max-width: 756px) {
            text-align: center;
        }
        img {
            @media screen and (max-width: 756px) {
                margin-top: 15%;
            }
        }
        h2 {
            margin: 25% auto 3% auto;
            @media screen and (max-width: 756px) {
                margin: 30px auto 40px auto;
                font-size: 40px;
            }
            font-size: 64px;
            font-weight: $font-weight4;
        }
        p {
            padding-right: 3%;
            margin: 3% auto;
            font-size: 18px;
            font-weight: $font-weight4;
        }
    }
    .img-col {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        img {
            width: 200%;
        }
    }
}

.form-cont {
    padding: 4% 7% 7%;
    @media screen and (max-width: 756px) {
        padding: 1% 8% 10%;
    }
    .form-col {
        background-color: white;
        padding: 2% 4% 4%;
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 15px 30px 0 rgba(0, 0, 0, 0.19);
        input {
            margin: 15px 0 3px;
            width: 100%;
            height: 50px;
            padding-left: 10px;
        }
        .date {
            padding: 15px 0 !important;
            .pick-label {
                margin: 10px 0 5px;
            }
            .date-picker {
                width: 100%;
            }
        }
        .people-picker {
            width: 100%;
            &::value {
                text-align: center;
            }
        }
        button {
            cursor: pointer;
            margin-top: 20px;
            height: 50px;
            width: 100%;
            background-color: $cod-gray;
            border-color: white;
            color: white;
            text-transform: uppercase;
            &:hover {
                background-color: white;
                color: $cod-gray;
                border: 1px solid $cod-gray;
            }
        }
    }
}